.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: #63eac6;
  color: #16479d;
}

.navbar_logo {
  display: flex;
  align-items: center;

}

.navbar_logo img {
  width: 80px;
  margin-right: 0,8em;
}